---
---

.page-header {
  color: #fff;
  text-align: center;
  background-color: #102a43;
  background-image: url("/gesea-eu/assets/hands.jpg"), linear-gradient(135deg, #102a43, #38bec9);
}

@import "{{ site.theme }}";
